#google_login{
  position:absolute;width:15%;right:5%;top:2.5%;
}

.form_icon{
  width:20%;
  float:left;
}
.form_input{
  background:#e6e6e6;
  border-color:none;
  padding:5%;
}
.type{
  text-align: center;
  right:5%;
  width:10%;
  background:none;
  position: absolute;
  top:5%;
  box-shadow: 1px 1px 1px 1px black;
  border-radius:1px;
  font-size:30px;
  color:black;
}
.form_text{
  font-size:20px;

}
.error_text{
  text-align:center;
  color:red;
  margin-top:10%;
  font-size:14px;
}
.form_text_small{
  font-size:13px;
  margin-top:10%;
  color: #bfbfbf;

}
.float-right:{
  float:right;
}
.form_container{

  padding:5%;
}
.form_component{
  background-size:cover;
}
.form_button{
  border-radius:20px;
  margin-top:15%;
  color:white;
}
.form_button:hover img{
  filter:invert(180);
}



.add_form{
  position: relative;
  animation-name: add_form !important;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  left:0px;
}


.remove_form{
  position: relative;
  animation-name: remove_form !important;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  left:1100px;
}

.back_button{
  position: absolute;
  left:5%;
  top:2.5%;
  width:10%;
  padding:.5%;
  background:white;
  border:1px solid white;
  color:black;
  font-size:18px;
}
@keyframes add_form {
  from{
    left:-1100px;
  }
  to{
    left:0px;

  }
}
@keyframes remove_form_m {
  from{
    left:0px;

  }
  to{
    left:1100px;

  }
}

@keyframes add_form_m {
  from{
    left:-1100px;
  }
  to{
    left:0px;

  }
}
@keyframes remove_form {
  from{
    left:0px;

  }
  to{
    left:1100px;

  }
}


@media screen and (max-width: 844px)
{
  .form_component{
    background-size:cover !important;
  }

  .form_container{
    margin-top:5% !important;
  }

  .form_spacer{
    width:0% !important;
  }

  #google_login{
    top: 80% !important;
    width: 70% !important;
    left: 15% !important;
  }

  .add_form{
    position: relative;
    animation-name: add_form_m !important;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    left:0px;
  }
.form_text{
  text-align:center !important;
}
  .remove_form{
    position: relative;
    animation-name: remove_form_m !important;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    left:0px;
  }

}
