.borderR{
  border-right: 2px solid #f4f4f4 !important;
  padding-right: 10%;
}
.orderImage{
  width:50px;
  height:50px;
}
.selectedTip{
  background:DodgerBlue !important;
  color:white !important;
}
.tipBox:hover{
  background:DodgerBlue;
  color:white;
}
.paypalButton:hover{
  background:	#8470ff;
  border-color:#8470ff;
}

@media screen and (max-width:590px){
  .tipBox{
    margin-left:0;
  }
  .ppr{
    float:right;
    margin-right: 5%;
  }
}
