.dashboard_title{
  font-family: "Roboto";
  font-size: 18px;
  padding-bottom:2.5%;
  padding-left:2.5%;
  padding-top:2.5%;
  border-bottom:2px solid #e6e6e6;
  text-align: center;
}

.borders-gray-left{
  border-left:2px solid #e6e6e6;
}
.borders-gray-right{
  border-right:2px solid #e6e6e6;
}
.edit_icon{
  position: absolute;
  top:1%;
  right:5%;
  width:10%;
}
.edit_icon:hover{
  filter:invert(78%) sepia(77%) saturate(5989%) hue-rotate(328deg) brightness(104%) contrast(100%);
}
.active_tracker{
  filter:invert(58%) sepia(63%) saturate(5012%) hue-rotate(331deg) brightness(115%) contrast(107%) !important;
}
.tracker:hover{
  
    filter:invert(58%) sepia(63%) saturate(5012%) hue-rotate(331deg) brightness(115%) contrast(107%) !important;


}
