.dashboard_title{
  font-family: "Roboto";
  font-size: 18px;
  padding-bottom:2.5%;
  padding-left:2.5%;
  padding-top:2.5%;
  border-bottom:2px solid #e6e6e6;
  text-align: center;
}

.borders-gray-left{
  border-left:2px solid #e6e6e6;
}
.borders-gray-right{
  border-right:2px solid #e6e6e6;
}
.padding-5{
  padding:5%;
}
.edit_icon{
  position: absolute;
  top:5%;
  right:5%;
  width:2.5%;
}
.edit_icon:hover{
  filter:invert(78%) sepia(77%) saturate(5989%) hue-rotate(328deg) brightness(104%) contrast(100%);
}
.active_tracker{
  border-color:red !important;
}
.tracker_button{
  background:white;
  color:black;
  border-width: 2px;
  margin-top: 10%;
  border-color:black;
}

.tracker_button:hover{

    background:black !important;


}

@media screen and (max-width:844px){
  .edit_icon{

    width:5% !important;
  }
}
