.filter_text{
  font-size:20px;
}

.toggle_deals{
  border-radius:30px;
}

.filter_heading{
  font-size:25px;
}

.radius_input{
  width:55%;
  height:30px;
}

.switch{
  height:25px;
  width:25px;
  box-shadow: 1px 1px 1px 1px black;
}

.price_tag{
  border-radius:2px;
  margin-top:2.5%;
  margin-left:5%;
  float: left;
  font-size:14px;
  font-family: "Roboto";
  font-weight: bold;
}

.mile_box{
  width:20%;
  height:30px;
}

.price_tag:hover{
  background:black;
  color:white;
}


.active_price_tag{
  background:black;
  color:white;
}

.active_price_tag:hover{
  background:white;
  color:black;
}

.active_price_tag_switch{
  background:white !important;
}

/* .on_switch{
  float:right;
  background:white;
}

.off_switch{
  float:left;
  background:black;
}

.on_toggle{
  background:black;
  color:white;
}

.off_toggle{
  background:white;
  color:black;
} */

.filter_bubble{
  width:10%;
  height:20px;
}


.filter_item{
  width:50%;
  margin-left:5%;
  float:left;
}


.filter_bubble{
  background:white;
  border:2px solid black;
}
.filter_inner_bubble{
  width:60%;
  height:10px;
  border-radius:50%;
  margin-left:20%;
  margin-top:20%;
  background:white;

}

.active_filter_bubble{
  background:black;
  transition: all;
  border-color:white;
}

.filter_bubble:hover{
  background:black;
  transition: all;
  border-color:white;
}
