.filter_text{
  font-size:20px;
}

.toggle_deals{
  border-radius:30px;
}

.filter_heading{
  font-size:25px;
}

.radius_input{
  width:55%;
  height:30px;
}

.switch{
  height:25px;
  width:25px;
  box-shadow: 1px 1px 1px 1px black;
}

.price_tag{
  border-radius:2px;
  margin-top:2.5%;
  margin-left:5%;
  float: left;
  font-size:14px;
  font-family: "Roboto";
  font-weight: bold;
}

.mile_box{
  width:20%;
  height:30px;
}

.price_tag:hover{
  background:black;
  color:white;
}


.active_price_tag{
  background:black;
  color:white;
}

.active_price_tag:hover{
  background:white;
  color:black;
}

.active_price_tag_switch{
  background:white !important;
}

/* .on_switch{
  float:right;
  background:white;
}

.off_switch{
  float:left;
  background:black;
}

.on_toggle{
  background:black;
  color:white;
}

.off_toggle{
  background:white;
  color:black;
} */

.filter_bubble{
  width:10%;
  height:20px;
}


.filter_item{
  width:50%;
  margin-left:5%;
  float:left;
}


.filter_bubble{
  background:white;
  border:2px solid black;
}
.filter_inner_bubble{
  width:60%;
  height:10px;
  border-radius:50%;
  margin-left:20%;
  margin-top:20%;
  background:white;

}

.active_filter_bubble{
  background:black;
  transition: all;
  border-color:white;
}

.filter_bubble:hover{
  background:black;
  transition: all;
  border-color:white;
}


.filter_modal{
  width:100%;
  background:white;
  z-index:2;
  left:0%;
  position:absolute;
  top:10%;
  padding-bottom:5%;
}
.x_modal_filter{
  position: absolute;
  right:10%;
  z-index:999;
  font-size:20px;
  color:grey;
  top:10%;
}
.x_modal_filter:hover{
  color:black;
}
.filter_icon_mobile{
  width:5%;
  position: fixed;
  z-index:55;
  top:22.5%;
  right:5%;
}
.filter_icon_mobile_active{
  z-index:-1 !important;
}
.filter_icon_mobile:hover{
  filter:brightness(0);
}
.filter_background{
  width:100%;
  position:absolute;
  top:0%;
  height:3000px;
  background:black;
}

.visible{
  visibility: hidden;
}
.invisible{
  visibility: hidden;
}
@media screen and (max-width:844px){
  .filter_bubble{
    width:5%;

  }

}
