.listLogoH{
  width:40px;
  height:40px;
}
.foodTruckContainer{
  width:20%;
  margin-left:3.5%;
  margin-bottom: 2%;
  float:left;
}


@keyframes moveUp{
  0%{

    bottom:0px;

  }
  100%{
    bottom:10px;

  }
}

@keyframes moveDown{
  0%{

    bottom:10px;
  }
  100%{
    bottom:0px;

  }
}
@media screen and(max-width:480px){
  .moveDownNav{
    position: absolute;
    top:-30px;
  }


}
