.logoNavBar{
  width:20%;
  margin-left: 10%;
}

.navbarEZ{
  background: white;
}

.bw{
  background: white;

}

.posAb{
    position: absolute;
}

.milesH{

  position: absolute;
  right:6%;
  bottom:2.5%;
}
.App{
  background:#f4f4f4;
  padding-bottom: 50% !important;
}

.unAciveInput{
  border-radius: 4px;
}

.enterAddress{
  padding-right:60px;
  padding-left: 24px;
}
.listLogoH{
  width:40px;
  float: left;
  height:40px;
}
.transparent-1-2{
  opacity:.4;
}
.width{
  width:200px !important;
}

.detailB{
  bottom:0;
}

.pb60{
  padding-bottom:60px;
}
.logoutNav{
  position: relative;
  bottom:17px;
  margin-left: 10%;
}
.mobile{
  width:50%;
  position: absolute ;
  top:0% !important;
  left:20%;
}

.ml5{
  margin-left: 5%;
}
.mb1{
  margin-bottom:1%;
}

.backer{
  position: absolute;
  top:5%;
  z-index:99;
  width:2.5%;
  left:15%;
}
.navIcon{
  float:left;
  width:40px;
  margin-left: 10px;

  margin-right: 5px;

  height:40px;
}
.navIconMob{

  width:40px;
position: absolute;
top:3%;
right:5%;

  height:40px;
}
.switcheGoogleMap:hover{

      animation:bigSmall .4s ease-in infinite;

}

@keyframes moveUp{
  0%{

    bottom:0px;

  }
  100%{
    bottom:10px;

  }
}
@keyframes bigSmall{
  0%{

    width:50px;


    height:50px;
  }
  50%{
    width:51px;

    height:51px;

  }
  100%{
    width:50px;

    height:50px;

  }
}
@keyframes moveDown{
  0%{

    bottom:10px;
  }
  100%{
    bottom:0px;

  }
}
@keyframes enlarge{
  from{
    width:inherit;
  }
  to {
    width:43px;
    height:43px;
  }
}
@keyframes small{
  from{

    width:43px;
    height:43px;
  }
  to {
        width:inherit;
  }
}
.navIcon{
  animation:small .2s ease-in 1;
  position: relative !important;
  bottom:0px;
}
.navIcon:hover{
  width:43px;
  height:43px;
  background:#f4f4f4;
  border-radius:5px;
  animation:enlarge .5s ease-in 1;
  position: relative !important;
  bottom:0px;
}
.foodTruckShowcase:hover{
  animation:moveUp .2s ease-in 1;
  position: relative;
  bottom:10px;
}
.foodTruckShowcase{
  animation:moveDown .2s ease-in 1;
  position: relative;
  bottom:0px;
  border-radius: 5px;
}
.divder2{
  margin-top: 3.5%;
}
.iconGroup{
  margin-left:30%;
  margin-top: 25px;
}

.catagory{
  background:white;
}

.starIcon{
  width:20px;
  height:20px;

}
.starGroup{
  margin-left: 25%;
  width:100%;

}
.foodtruckName{
  font-size: 12px;
}
.catagory{
  margin-top: 15%;
  width:100%;
  text-align: center;
  margin-left: 50%;
}
.paraGroup{
  margin-top:5px;
  float: left;
}
.foodTruckContainer{
  width:20%;
  margin-left:3.5%;
  margin-bottom: 2%;
  float:left;
}

.switcheGoogleMap{
  width:50px;height:50px;position:absolute;top:17.2%;right:5% !important
}
.foodTruckShowcase{
width:100%;
height:200px;
}






.halfControl{
  width:50%;
  margin-top:5%;
  float:left;
}

.quarterControl{
  width:25%;
    margin-top:6%;
  margin-top:5%;
  float:left;
}
.enterAddress{
  width:23%;
  float:left;
  margin-left:1%;
  margin-top:5%;
  background:#262626;
  border:2px solid white;
}
body{
  background:white !important;
}

































@media screen and (max-width:1390px) and (min-width:1035px){


  .catagory{
    position: relative;left:-40px;
  }
  .navbarEZ{
    padding-bottom:5px;
  }
  .starGroup{
    position: relative ;left:-30px;
  }
  .logoutNav{
    float: left;


  }
  .foodTruckContainer{
    margin-top: 2.5%;
  }
  .iconGroup{
    margin-left: 2%;
  }

  .switcheGoogleMap{
    top:16%;
  }


}

.App{
  background:white !important;
}
@media screen and (max-width:900px) and (min-width:700px){

.iconGroup{
  margin-left: 0%;
}
.switcheGoogleMap{
  top:17%;
}
}



@media screen and (max-width:789px) and (min-width:600px){

.logoNavBar{
  width:30%;
}


}

@media screen and (max-width:1000px) and (min-width:786px){
  .switcheGoogleMap{
    top:16%;
  }
.logoNavBar{
  width:30%;
}

  .switcheGoogleMap{
    top:17%;
  }
}











































@media screen and (max-width:746px) and (min-width:646px){

  .logoNavBar{
    width: 60%;
  }
  .iconGroup{
    margin-left: -10%;
    position: relative;
    bottom:10px
  }
  .catagory{
    position: relative;left:-30px;top:-10px;
  }
  .switcheGoogleMap{
    top: 19%;
  }
  .starGroup{
    position: relative ;left:-35px;top:-10px;
  }
  .logoutNav{
      margin-left: .5%;
      position: relative;
      bottom:10px
  }
  .foodTruckContainer{
    margin-top: 5%;
  }
  .logoutNav{
    float: right;
  }
  .logoNavBar{
    width: 40%;
  }
  .unAciveInput{
    float: left;
    position: relative;
    right:30px;
    width: 100%;
  }
}

@media screen and (max-width:746px) and (min-width:480px){
  .switcheGoogleMap{
    top:16%;
  }
  .logoNavBar{
    width: 40% !important;
    margin-left: 20%;

  }
  .unAciveInput{
    float: left;
    position: relative;
    right:30px;
    top: 5px;
    width: 100%;
  }
  .navbarEZ{
    padding-bottom: 10px;
  }
  .iconGroup{
    margin-left: -20%;
  }
  .catagory{
    position: relative;left:-35px;top:-10px;
  }
  .switcheGoogleMap{
    top: 19%;
  }

  .logoutNav{
    width: 50%;
    position: relative;
    bottom:10px;
    font-size: 13px;
  }
  .navIcon{
    width: 30px;
    height:30px;
  }
  .switcheGoogleMap{
    top:15.5%
  }
  .starGroup{
    position: relative ;left:-40px;top:-10px;
  }
  .logoutNav{
    float: left;
    margin-left: 5%;
  }
  .foodTruckContainer{
  width:25%; margin-left: 5.9%;margin-top: 5%;
  }
}



.blackNav{
  animation: ToBlack .5s ease-in 1 !important;
  background:#262626 !important;
  color:white !important;
}

@keyframes ToBlack {
  0%{
    background:white;
    color:black;
  }
  100%{
    background:#262626;
    color:white;
  }
}























@media screen and (min-width:775px) and (max-width:1035px){


  .catagory{
    position: relative;left:-30px;font-size: 14px;
  }
  .starIcon{
    width: 15px;height:15px;
  }

  .starGroup{
    position: relative ;left:-20px;
  }
  .logoutNav{
      margin-left: 2.5%;
  }
  .navbarEZ{
    padding-bottom:10px;
  }
  .foodTruckContainer{
    width:20%;
    margin-left: 10%;
    float: left;
    margin-top: 3%;
  }
  .miles{
    font-size: 14px;
  }



}





















@media screen and (max-width:590px){
  .logoNavBar{
    width:50% ;
    position: relative;
    top:10px;
  }
  .switcheGoogleMap{
    width:45px;height:45px;position:absolute;top:15%;left:5%
  }


  .foodTruckContainer{
    width:200px;
    height:200px;
  }

  .resultTitle{
    font-size:20px;
    right:13px;
  }

  .unAciveInput{
    width:150px;
    text-align: center;
    border: 2px solid #f4f4f4;
    border-radius: 4px;
    margin-top: 20%;
    position: relative;
    right: 25px;
    padding:5px
  }
  .Bf4{
      border: 2px solid #f4f4f4;
  }
  .logoutNav{
    margin-left: 20%;
  }

  .foodtruckName{
    font-size: 12px;
    width:200px;
  }

  .navIcon{
    float:left;
    width:30px;
    margin-top: 5%;
    height:30px;

  }
  .fl{
    float:left;
  }
  .detailr{
    margin-left: 30px !important;
    margin-top:-20px;
  }

  .starGroup{
    margin-top:-20px;
    position: relative;
    left:30px;
  }
  .catagory{
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    position: relative;top: 20px !important;
  }

  .starIcon{
    width:10px;
    height:10px;
    float:left;
    margin-left:5px;
  }

  .iconGroup{
    margin-left:10%;
    margin-top: 25px;
  }

  .logoutNav{
    opacity:0;
    width:0;
    height:0;
  }

  .miles{
    width:100px;
  }

}





















@media screen and (max-width:480px){
  .logoNavBar{
    width:50% ;
    position: relative;
    top:10px;
  }
  .container-fluid{
    background:white !important;
  }
  .switcheGoogleMap{
    width:45px;height:45px;position:absolute;top:15%;left:5%
  }
  body{
    background:white !important;
  }
  .foodTruckContainer{
    width:200px;
    margin-bottom: 10%;
    padding-bottom: 100px;
    height:200px;
    margin-top:100px;
    margin-left: 20%;
  }

  .foodTruckShowcase{

    width:100%;
    margin-left: 2.5%;

  }
  .foodtruckName{
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .resultTitle{
    text-align: center;
    font-size:20px;
    position: relative;
    right:13px;
  }
  .unAciveInput{
    width:150px;
    text-align: center;
    border: 2px solid #f4f4f4;
    border-radius: 4px;
    margin-top: 20%;
    position: relative;
    right: 25px;
    padding:5px
  }
  .logoutNav{
    margin-left: 20%;
  }.foodtruckName{
    font-size: 12px;
  }
  .navIcon{
    float:left;
    width:30px;
    height:30px;

  }
  .details{
    margin-left: 10px;
  }
  .detailr{
    margin-left: 30px !important;
  }
  .paraGroup{
    float: left;
  }
  .starGroup{
    margin-top: 15px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  .catagory{


    font-size: 12px;
    text-align: center;
    border-radius: 3px;

    position: relative;top: 20px !important;
  }
  .starIcon{
    width:10px;
    height:10px;
    float:left;
    margin-left:5px;
  }
  .iconGroup{
    margin-left:10%;
    margin-top: 25px;
  }
  .logoutNav{
    opacity:0;
    width:0;
    height:0;
  }

}
