.listLogoH{
  width:40px;
  height:40px;
}
.foodTruckContainer{
  width:20%;
  margin-left:3.5%;
  margin-bottom: 2%;
  float:left;
}
.profile_button:hover{
filter:invert(90);
}
.moveUpNav{
  top:3.5% !important;
  position: absolute;
  left: 15%;

}
.new_ez_button_text{
  width:70%;float:left;
}
.width-90{
  width:90%;
}
.margin-left-5{
  margin-left:5%;
}
.new_ez_button_icon_small{
  width:15%;margin-left:5%;float:left;filter:brightness(100);margin-top:2.5%;
}
.new_ez_button{
  width:100%;background:black;border-radius:30px;color:white;height:40px;
}
.new_ez_button:hover{
  background:#e6e6e6;
  color:black;
  border-color:#e6e6e6;


}
.new_ez_button:hover img{
  filter:invert(90);
}

.width-30{
  width:30%;
}
.ez_button{
  border-radius:20px;

  border-color:none;
}
.ez_button:hover{
  color:white;

  background:red;
  border-color:red;
}
.e6-background{
  background: #e6e6e6;
}
.navbar_home{
 margin-top:2.5%;
}
.black-background{
  background: black;
}
.ez_button_icon{
  width:40%;
    float:left;
    margin-left:2%;
}
.ez_home_input{
  width:100%;
  border-radius:40px;
  background:#e6e6e6;
  text-align:center;


}
.margin-top-0{
  margin-top:0 !important;
}
.ez_button_icon_small{
  float:left;
  width:15%;
  margin-left:5%;
}
.foodtruck_image{
  height:110px;
}
.logoHM{
  width:60px;
  height:60px;

  position: absolute;
top:11%;
left:5%;
}
.w200px{
  width:200px;
}
.inputFormation{
  position:absolute;top:2.5%;left:-5%;
}


@keyframes moveUp{
  from{

    bottom:0px;

  }
  to{
    bottom:20px;

  }
}

@keyframes moveDown{
  from{

    bottom:20px;
  }
  to{
    bottom:0px;

  }
}
@media screen and(max-width:480px){
  .moveUpNav{
    top:2.5%;
    position: absolute;
    width:200px;
    left:20%;

  }


}


























.rotate-180{
  transform:rotate(180deg);
}
.truck_row_toggle_icon:hover{
  filter: invert(84%) sepia(21%) saturate(3012%) hue-rotate(318deg) brightness(99%) contrast(86%);
}
.truck_row_title{
  font-weight: bold;
  font-size:25px;
}
.hyperlink{
  color:#404040;
  border-bottom:1px solid #404040;
  font-family: sans-serif;
  text-align: center;

}
.moveUpDown{
  animation-name: moveDown !important;
  animation-duration: .5s !important;
  animation-iteration-count: 1 !important;
  animation-timing-function: ease-in-out !important;
  bottom:0px;
}
.foodtruck_box_price{
  color:green;
  font-family: monospace;
  font-weight: bolder;
  font-size:15px;
}
.moveUpDown:hover{
  border:0px none solid !important;
  animation-name: moveUp !important;
  animation-duration: .5s !important;
  animation-iteration-count: 1 !important;
  animation-timing-function: ease-in-out !important;
  bottom:20px;
}
.foodtruck_line_box{
  width:0px;
  height:2px;
  background:black;
  position: relative;
  bottom:5px;
  transition:all;
}
@keyframes expand_line {
  from{
    width:0px;
  }
  to{
    width:100px;
  }
}
.moveUpDown:hover + .foodtruck_info_row  .foodtruck_info  .foodtruck_line_box{

  width:100px;
  animation:.2s ease-in 1 expand_line;
  background:black;
  transition:all;
}

.moveUpDown:hover + .foodtruck_info_row  .foodtruck_info  .foodtruck_box_title{
  color:red;
}
.no-padding-no-margin{
  padding:0 !important;
  margin:0 !important;
}
.hyperlink:hover{
  color:blue;
  border-color:blue;

}
