
.ez_title{
  font-family:"Nunito";
  color:black;
  font-size:40px;
}
.relative{
  position: relative;
}
.adjust_up{
  bottom:20px;
}
.icon_text{
  float:left;
  display: inline;
}
.icon{
  display:inline;
}
.nuniko{
  font-family: "Nunito"
}
.ez_title_end{
  font-family:"Fredoka One";
  font-size:40px;
  color:#ff3333;
  font-weight: none !important;
}
.slogan_landing{
  font-size:40px;
  font-weight: bold;
  font-family:"Fredoka One";

}
.bold{
  font-weight: bold;
}
.sub_slogan_landing{
  font-size:30px;
  letter-spacing: 0px;


}
.reward_slogan{
  font-size:20px;
  font-weight:bold;
}

.btn_landing{
  border-radius:20px;
  transition:all .2s 1 ease-out;
}
.btn_landing:hover{
  background:#E86201 !important;
  border-color:#E86201;
  transition:all .2s 1 ease-in;
  color:white;
}
.white-background{
  background:white;
}
.black-background{
  background:black;
}
.white{
  color:white;
}
.icon{
  float:left;
  width:15%;

}
.ez_logo_mobile{
  opacity:0;
}
/*--------------------Mobile--------------------------*/

@media screen and (max-width: 844px)
{

  .icon{
    float: left;
    width: 0%;
    opacity:0;

    margin-top: 2.5%;

  }
.landing_page{
  background-size:cover !important;
}
.reward_slogan{
  font-size:18px;
}
.sub_slogan_landing{
  font-size:25px;
}
.ez_title {
  text-align:center;
  font-size:55px;
  color:red;
}
.ez_title_end {
  text-align:center;
  font-size:55px;
}

    .ez_logo_mobile{
      width:30%;
      margin-left:35%;
    opacity:1;
    margin-top:-5%;
    }
}
