.lighten{
  animation: lightenup 1s ease-in 1;
  background:  #330a00 !important;
}

.logo{
  animation:appearDelay .5s 1 ease-in;
}

.moveupAnimation{
  animation: moveup .2s 1 ease-in;
  position:relative;
  top:-1000px;
}

@media  screen and (max-width: 480px) {
  .logo{
    animation:appearDelay .5s 1 ease-in;
    width:200px;
    height:200px;
    margin-top: 130px;
    position: absolute;
    right:-27%;
  }
}

@media  screen and (max-width: 780px ) and (min-width:491px) {
  .logo{
    animation:appearDelay .5s 1 ease-in;
    width:100%;
    margin-top: 200px !important;
  }
}

@keyframes lightenup{
  0%{
    background:black;
  }
  100%{
    background:  #330a00;
  }

}

@keyframes appearDelay{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes moveup{
  0%{

    top:0
  }
  100%{

    top:-1000px;
  }
}
