.menuBackground{
  padding:15%;
}
.menuBoxB{
  top:20% !important;
  position: absolute;
}
.logoMenu{
  top:5%;
}
.banner{
  height:400px;
}
.imageSheet{
  height:400px;
  width:100%;
  position: absolute;
  top:18%;
}
.jumbotron{
    border:5px solid grey !important;
}
.BB44{
  border:5px solid grey !important;
}
@media screen and (max-width:580px){
  .moveDownShowMenu{
    position: relative;
    top:100px;
  }
  .menuOP{
    width:50% !important;
    margin-left:25% !important;
  }
  .logoMenu{
    width:20% !important;
  }
  .menuItemImage{
    width:20%;
  }
  .textBoxMenu{
    margin-left: 5%;
  }
  .jumbotron{
    background:#fafafa !important;
    border:2px solid #f4f4f4;
  }
  .menux{
    margin-top: 50%;
    padding-top:100px;
  }
  .menuTitleC{
    margin-top: 10%;
    margin-left: 5%;
  }
  .menuBoxB{
    top:50% !important;
    position: absolute;
  }
  .buttonContainer{
    margin-left: 5%;
  }
  .banner{
    height: 200px;
  }

}
