.menuBackground{
  padding:15%;
}
.menuBoxB{
  bottom:30%;
}
.logoMenu{
  top:5%;
}
.banner{
  height:400px;
}

@media screen and (max-width: 480px){
  .moveUpMobileShowBox{
    position: relative !important;
    bottom:10px !important;
  }
}
@media screen and (max-width:580px){

  .menuOP{
    width:50% !important;
    margin-left:25% !important;
  }
  .logoMenu{
    width:20% !important;
  }
  .menuItemImage{
    width:20%;
  }
  .textBoxMenu{
    margin-left: 5%;
  }
  .jumbotron{
    background:#fafafa !important;
    border:2px solid #f4f4f4;
  }
  .menux{
    margin-top: 30%;
  }
  .menuTitleC{
    margin-top: 10%;
    margin-left: 5%;
  }
  .menuBoxB{
    bottom:40%;
    right:-20%;
    width:150%;
  }
  .buttonContainer{
    margin-left: 5%;
  }
  .banner{
    height: 200px;
  }

}
