.menuBackground{

  padding:15%;

}
.menuBoxB{
  position: absolute;
  bottom:30%;
  width:100%;


}
.type{
  color:green !important;
}
.logoMenu{
top:5%;
position:absolute;
  width: 10%;


}
.banner{
  width: 100%;
  height:400px;
  background-size:cover;
}
.menuTitle{
  text-align: center;
}
.jumbotron{
  padding-top: 5%;
  background:white;
}
.starL{
  width:30px;
  height:30px;
  float:left;
  margin-left: 3%;
}
.buttonContainer{
  margin-left: 25%;
}
.mt5{
  border-radius: 5px;
  background:white;
  width:50%;
  color:black;
  margin-left: 25%;
}
.menuOP{
  background:white;
  border:3px solid #f4f4f4;
  border-radius:5px;
  float: left;
  color: black;
  margin-left: 10%;
  margin-top: 2.5%;

}
.textBoxMenu{
  float: left;

}
.menuItemImage{
  float: right;
  width:10%;
}
.menux{
  margin-top: 2.5%;
}
.menuTitleC{
    margin-top: 2.5%;
    margin-bottom:2.5%;
    margin-left: 5%;
}
.list-group-item:hover{
  background: #f4f4f4;
}
body{
  background:white;
  padding-bottom: 5%;
}
.boxItem{
  float: left !important;
  background:white;
  border-radius:10px;
  margin-left: 5%;
  border:4px solid #f4f4f4;
  margin-top: 2.5%;
  width:25%;
}
.detailMenu{
  margin-left: 10%;
  width: 100%;
  margin-top: 5%;
  float: left;
}
.boxItem:hover{
  background:#f4f4f4;
}
.menuItemImage{
  width:40%;
}
@media screen and (max-width:580px){
  body{
    background:#f4f4f4;
    padding-bottom: 5%;
  }
  .logoMenu{
    width:20%;
  }
  .menuItemImage{
      width:20%;
  }

  .textBoxMenu{
    margin-left: 5%;
  }
  .starL{
    width:10px;
    height:10px;
    float:left;

  }

  .menux{
    margin-top: 30%;
  }
  .menuTitleC{
      margin-top: 10%;
      margin-left: 5%;
  }
  .menuBoxB{
    position: absolute;
    bottom:41%;
    right:-23%;
    width:150%;


  }
  .buttonContainer{
    margin-left: 5%;
  }
  .mt5{
    margin-top:5%;

  }
  .banner{
    height: 200px;
  }

}
