.checkser{
  width:70%;
  bottom:5px;
}
@media screen and (max-width:580px){
  .modName{
    font-size: 12px;
    width:100px;
    margin-right:5%;
    margin-top: 10%;
    position: relative;
    left:10px;
  }
  .startC{
    width:80%;
    margin-left: 9%;
  }
  .modPrice{
    position: relative;
    left:-6px;
  }
  .modNamer{
    position: relative;
    top:25px;
    left:-25px;
    margin-bottom: 35px;
  }
  .modBox{
    margin-left: 5%;
  }
  .modCon{
    padding-right: 30px !important;
  }
}
