.backArrowLoginPage{
  float:left;
  margin-left:2%;
  width:5%;
  z-index:99;

}.divider{
  margin-top:5%;
}
.titleFormSignup{
  color:black;
  font-family:monospace;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2.5%;
  font-weight: 500;

}
#google_login{
  position: absolute;
  right:2%;
  z-index:99;
  top:2%;
  width:20%;
}
#google_login button{
  width:100%;
}
.halfControl{
  width:50%;
  margin-top:5%;
  float:left;
}
.quarterControl{
  width:25%;
  margin-top:6%;
  margin-top:5%;
  float:left;
}



.appear{
  animation:.5s 1 ease-in appear;
}
.namer{
  width:50%;
  float:left;
}
.userButtonSign{
width:50%;margin-left:25%;
margin-top:2.5%;
border:2px solid #f4f4f4;

}
.mr6{
  margin-top:1%;
}
.formTitleSignup{
  font-weight: bold;
}
.genderCon{
  float:left;
  width:45%;
}
.col-sign-10{
  margin-left:5%;
}
.genderTitle{
  text-align: center;

}
.genderBox{
  background:#f4f4f4f;
  border:5px solid #f4f4f4;
  height:30px;
  width:30px;
  margin-left: 40%;
}
.juju{
  background:white !important;
  border: none !important;
  box-shadow:0px 0px 0px 0px white !important;

}
.profilePicSignupTitle{
  text-align: center;
  margin-top:2%;
}
.profileBubbleSignup{

  float:left;
   margin-left:27.5%;
  width:400px;
  height:400px;
  margin-top: 2%;
  border-radius: 50%;
  border:2px solid #f4f4f4;
}
.bubbles{
  float:right;
  width:10%;
}
.bubble{
  border: 1px solid #689bed;
  height: 20px;
  width:20px;
  float: left;
  background: none;
  border-radius: 50%;

}
.choicesSignup{
  margin-left: 10%;
}
.choiceO{
  border:#689bed 2px solid;
  background:#689bed;
}
.choiceU{
  background:#db6d4a;
  border:#db6d4a 2px solid;
}
.titleSign{
  color:white;
  font-size: 30px;
  text-align: center;
  margin-top:10%;
  font-family: monospace;
  font-weight:bold;
}
.deadSub{
  background:white !important;
  opacity:.7;
  color:grey !important;

}
.choiceTitle{
  text-align: center;
  font-size: 20px;
  margin-top: 10%;
  font-weight: bold;
  color:white;
}
.choiceS{
  width:30%;


  border-radius: 10px;
  margin-left: 10%;
  float:left;
}
.choiceImage{
  width:40%;
  margin-left: 32%;
   margin-top: 2%;
   margin-bottom: 2%;


}
.dead{
  opacity:.6;
}
.subButtonSign{
  width:50%;
  background:red;
  border-color:red;
  color:white;
  margin-left: 27%;
  margin-top: 10%;

}


.active{
  border:2px solid black;
  opacity: 1 !important;

}
@media  screen and (max-width: 650px ) and (min-width:481px) {

}

@media  screen and (max-width: 480px ){
  .profilePicSignupTitle{
    text-align: center !important;
    font-size: 25px;
    margin-left: 20%;
    margin-top: 5%;
    position: fixed;
    top:50px;



  }
  .bubbles{
    margin-top: 10px;
    margin-right: 5%;

  }
  .userButtonSign{
    margin-top:2% !important;
    width:50% !important;
    margin-left: 28% !important;
  }
  .uploadButton{
    margin-top: 90%;
  }
  .profileBubbleSignup{
    width:200px;
    height:200px;
    margin-left: 12%;
    margin-bottom:20%;
    margin-top: 40%;
  }
  .choicesSignup{
    margin-left: 5%;
  }
  .choiceTitle{

    font-size: 15px;
    margin-top: 20px;

  }
  .m650{
    height:1000px !important;
    padding-top:20px;
  }
  .subButtonSign{
    width:70%;
    margin-left: 15%;
    margin-top: 20%;

  }
  .choiceImage{
    width:90%;
    margin-left: 5%;
    margin-top: 10%;
  }

  .choicesSignup{
    margin-top: 25%;
  }

  .choiceS{
    width:40%;

    height:200px;

    margin-left: 5%;
    float:left;
  }

  .titleSign{

    font-size: 18px;

    margin-top:40%;

  }
  .mr6{
    margin-top:10%;

  }
  .userButtonSign{
    width:100%;
    margin-left:0;
    margin-top: 0;



  }

  .namer
  {
    width:50%;
    float:left;
  }
  .titleFormSignup{
    margin-top: 20%;
    font-size: 25px;
    margin-left: 6%;
  }
  .bubbles{
    width: 50%;
  }
  .bubble{
    float:right;
  }
  .backArrowLoginPage{


    margin-left:1%;
    width:15%
  }

}






@keyframes appear{
  0%{opacity:0;}
  100%{opacity:1;}
}
