.loginSignupLogo{
  float:left;
  width:15%;
  margin-left: 5%;
}
.container-fluid{
  animation:appear .5s ease-in 1;
}
@keyframes appear{
  0%{
    opacity:0
  }
  100%{
    opacity:1
  }
}
.bwwP{
  background:white;
}
.loginSignupButton{
  float:right;
  border:2px solid white;
  color:white;
  font-size: 14px;
  margin-right: 5%;
  background:none;
  margin-top:2.5%;
}
.loginSignupTitle{
  margin-top: 2%;
  color:red;
  float:left;
  margin-left: 5%;
}
.loginBox{
  margin-top:5%;
}
.blackNav2{
  width:110%;
  padding-bottom:10px;
}
.mobileLoginLogo{
  float: left;
  width:80px;
  height:80px;
  margin-left: 7.5%;
}
.mobileFTLogin{
  border: 1px solid white;
  color:white;
  background:none;
  height:37px;
  position: absolute;
  right:5%;
  top:2.5%;
  float: right;
}
.mobileFTLogin:hover{
  border:2px groove red;
  color:white;
  background:none !important;
}
.inputLoginSignupLogin{
  text-align: center;
}
.fTLogin{
  background:white;
  font-size: 14px;
  float: right;
  border:1px solid black;
  color:black;
}
.redLineInput{
  border-right: 1px transparent solid;
  border-left: 1px transparent solid;
  padding-bottom:10px;
  border-bottom: 2px black solid;
  border-top: 1px white solid;
}
.googleLogoButton{
  width:20px;
  height:20px;
}
.bottomLine{
  border-top:white 0px solid;
  border-left:white 0px solid;
  border-right:white 0px solid;
  border-bottom: #ff4444  2px solid;
}
.loginAndSignupContainer{
  background:white;
  padding-bottom: 0%;
}
