.mt5{
  margin-top:5% !important;
}
.mb20px{
  margin-bottom: 20px;
}
.add-to-cart{
  color:black !important;
  border:black 2px solid !important;
  border-radius:30px;
  font-size:16px !important;
}
.new_ez_button:hover .notify_icon{
  color:white !important;
}
.ml40{
  margin-left: 40%;
}
.ml10{
  margin-left: 10%;
}
.bb{
  background:black;
}
.add-to-checkout{
  color:red !important;
  border:red 2px solid !important;
  border-radius:30px;
  font-size:16px !important;
}
.w90{
  width:90%;
}
.add-to-cart:hover{
  background:black;
  color:white !important;
  border-color:black !important;
}
.add-to-checkout:hover{
  background:red;
  color:white !important;
  border-color:red !important;
}
.BRR{
  border:2px solid red;
}
.border-right-light-2px{
  border-right:2px solid #e6e6e6;
}
.h75px{
  height:75px;
}
.width-50{
  width:50%;
}
.text-center{
  text-align: center;
}
.float-left{
  float:left;
}
.fl{
  float:left;
}
.brr2{

  border:2px solid red;
}
.float-right{
  float:right;
}
.white-background{
  background:white
}
.black-color{
  color:black
}
.black-background{
  background:black
}
.white-color{
  color:white
}
.width-80{
  width:80%;
  float:left;
}
.float-left{
  float:left;
}
.green-font{
  color:green;
}
.white_text{
  color:white;
}
.logins
{
    background: transparent !important;
}
.mobileNavHMG{
  width:40px;
  height:40px;
  position: absolute;
  top:1.5%;
  right:1.5%;
}
.bw{
  background:white !important;
}
.pt20px{
  padding-top:20px;
}
.moveUp20px{
  position: relative;
  bottom:20px;
}
.w0{
  width:0 !important;
  height:0 !important;
}
.iconG{
  width:45px !important;
  height:40px !important;

}
.medium-font{
  font-size:15px;
}
.invert_svg{
  filter:invert(180);
}
.p0{
  padding:0 !important;
}
.mt10{
  margin-top:10%;
}
.cb{
  color:black;
}
.pb400px{
  padding-bottom: 400px;
}
.bw{
  background:white;
}
.container-fluid{
  padding-left:0;
  padding-right:0;
}
.pb60px{
  padding-bottom:60px;
}
.o_5{
  opacity:.5;
}
.ml5{
  margin-left: 5%;
}
.mb1{
  margin-bottom:1%;
}
.z1{
  z-index:1;
}
.mr25{
  margin-right: 25%;
}
.w35{
  width:35%;
}
.w40{
  width:40%;
}
.cgg{
  color:grey;
}
.BBB{
    border-top:2px solid black;
}
.mt25{
  margin-top: 25%;
}

.w25{
  width:25%;
}
.B4pxf4f4{
    border:4px solid #f4f4f4;
}
.hideX{
  overflow-x: hidden;
}
.mr5{
  margin-right: 5%;
}
.italic{
  font-style: italic;
}
.f15px{
  font-size: 15px;
}
.o1{
  opacity: 1;
}
.ml35{
  margin-left: 35%;
}
.posFix{
  position: fixed;
}
.h100{
  height:100%;
}
.bBBR{
  border-bottom:2px solid red;
}
.BBR{
    border-bottom:2px solid red;
}
.w150{
  width:150%;
}
.BGG{
  border:2px solid green;
}
.w25{
  width:25%;
}
.BB2{
  border:2px solid #f4f4f4;
}

.rc{
  color:red;
}
.mono{
  font-family:monospace;
}
.f18px{
  font-size: 18px;
}
.w40{
  width:40%;
}
.turnF4:hover{
  background:#f4f4f4;
}
.w10{
  width:10%;
}
.pt5{
  padding-top: 5%;
}
.mt2_5{
  margin-top: 2.5%;
}
.mb2_5{
  margin-bottom: 2.5%;
}
.cg{
  color:green;
}
.fl{
  float:left;
}
.mb15{
  margin-bottom: 15%;
}
.w20{
  width:20%;
}
.cover{
  background-size: cover;
}
.pb200px{
  padding-bottom:200px !important;
}
.bw{
  background: white;
}
.transparent{
  background:transparent;
}
.ml7_5{
  margin-left:7.5%;
}
.bNone{
  background:none;
}
.fr{
  float:right;
}
.BW1{
  border:1px solid white;
}
.cb{
  color:black;
}
.mt15{
  margin-top:15%;
}
.ml25{
  margin-left:25%;
}
.bGeo{
  background:url("./../images/b.jpg");
}
.BB{
  border:2px solid black
}
.cw{
  color:white !important;
}
.pb20{
  padding-bottom: 20%;
}
.posAb{
    position: absolute;
}
.f12px{
  font-size:12px;
}
.mb5{
  margin-bottom:5%;
}
.w100{
  width:100%;
}
input:focus{
  background:white;
}
.w30{
  width:30%;
}
.w10{
  width:10%;
}
.lightBlue{
  background:#b3d9ff;
}
.cr{
  color:red;
}
.ml5{
  margin-left: 5%;
}
.mt2{
  margin-top: 2%;
}
.f40px{
  font-size: 40px;
}
.moveUpDown{
  position: relative;
  top:5px;
  animation: moveDown .5s ease-in 1;
}
.moveUpDown:hover{
  top:0px;
  animation: moveUp .5s ease-out 1;
  border:5px solid red;
}

@keyframes moveUp{
  0%{
    top:5px;
  }
  100%{
    top:0px
  }
}
@keyframes moveDown{
  0%{
    top:0px;
  }
  100%{
    top:5px
  }
}
.normal-font{
  font-weight: normal;
}
.f20px{
  font-size:20px;
}
.bf9{
  background:#f9f9f9;
}
.br10px{
    border-radius: 10px;
}
.p1{
  padding:1%;
}
.Bf220px{
  border:20px #f2f2f2 solid;
  background:white !important;
}
.turnW:hover{
  color:white;
}
.gr{
  color:grey;
}
.p1{
  padding:1%
}
.App{
  padding-bottom:0 !important;
}
.container-fluid{
  padding-bottom:0 !important;
}
.br20px{
  border-radius: 20px;
}
.BBf220{
  border:20px #f2f2f2 solid;
}
.bf9{
    background:#f9f9f9;
}
body{
  background:white !important;
}
.nunito{
  font-family: "Nunito";
}
.ml25{
  margin-left: 25%;
}
.bw{
  background:white;
}
.bb{
  background: black !important;
}
.w90{
  width:90%;
}
.none{
  list-style-type: none;
}
.h100px{
  height:100px;
}
.mt10{
  margin-top:10%;
}
.b26{
  background:#262626 !important;
}
.mt15{
  margin-top: 15%;
}
body{
  overflow-x: hidden;
}
.f15px{
  font-size: 15px;
}
.bNone{
  background: none;
}
.hoverBlue:hover{
  color:blue;
}
.ml5{
  margin-left: 5%;
}
.mt10{
  margin-top: 10%;
}
.pb10px{
  padding-bottom: 10px;
}
.BBBff4{
    border-bottom:4px solid #ff4444;
}
.b26{
  background:#262626;
}
.ml2_5{
  margin-left: 2.5%;
}
.posAb{
  position: absolute;
}
.posRight{
  right:1%;
  top:5%;
}
.fr{
  float:right;
}
.w25{
  width:25%;
}
.mt7_5{
  margin-top:7.5%;
}
.p5px{
  padding:5px;
}
.text-center{
  text-align: center;
}
.BBf4{
    border: 2px solid #f4f4f4;
}
.mt2_5{
  margin-top:2.5%;
}
.pb5{
  padding-bottom:5%;
}
.h100px{
  height:200px;
}
.mt5{
  margin-top:5%;
}
.bold{
  font-weight:bold;
}
.w50{
  width:50%;
}
.br10px{
  border-radius:10px !important;
}
.ml2_5{
  margin-left:2.5%;
}
.h20px{
  height:20px;
}
.w20px{
  width:20px;
}
.BBd4{
  border:2px solid #4d94ff;
}
.circle-list{
  list-style-type: circle;
}
.pb200px{
  padding-bottom: 20px;
}
.bd44{
  background: #4d94ff !important;
}
.turnd4:hover{
    background:#4d94ff !important;
}
.pt2_5{
    padding-top: 2.5%;
}
.pr5{
    padding-right: 5%;
}
.BBbf4{
    border-bottom: 1px solid  #f4f4f4;
}
.pl7_5{
  padding-left:7.5%;
}
.pb2_5{
  padding-bottom: 2.5%;
}
.f15px{
  font-size: 15px !important;
}
.f13px{
  font-size: 13px;
}
.p0{
  padding:0 !important;
}
.BTR{
  border-top:2px solid red;
}
.BBf4f4{
  border:5px solid #f4f4f4;
}

.BBBR2{
  border-bottom:2px solid red;
}

.posRel{
  position:relative;
}

.ml15{
    margin-left:15%;
}
.text-left{
  text-align: left;
}
.o0{
  opacity:0;
}
.text-center{
  text-align: center;
}
.posRel{
  position: relative;
}
.mt1{
  margin-top:1%;
}
.ml1{
    margin-left:1%;
}
.pr100{
  padding-right:100px;
}


@media screen (max-width:480px){
  .iconG{
    width:35px;
    height:30px;

  }
}






.text-center{
  text-align: center;
}

.e6-background{
  background:#e6e6e6;
}

/* New Utility */

.bolder{
  font-weight: bolder;
}
.monospace{
  font-family: monospace;

}

.margin-left-10{
  margin-left: 10%;
}
.margin-top-20{
  margin-top:20%;
}
.margin-top-25{
  margin-top:25%;
}
.margin-top-5{
  margin-top:5%;
}
.roboto{
  font-family: "Roboto";
}
.bold{
  font-weight: bold;
}
.clear-both{
  clear:both;
}
.zero-index{
  z-index:0;
}
.list-style-none{
  list-style-type: none;
}
.width-50{
  width:50%;
}
.width-75{
  width:75%;
}
.border-radius-50{
  border-radius:50%
}
.color-white{
  color:white;
}
.float-right{
  float:right;
}
.margin-top-15{
  margin-top:15%;
}
.border-e6-2px{
  border:2px solid #e6e6e6;
}
.float-right{
  float:right;
}
.e6-background{
  background:#e6e6e6;
}
.margin-left-10{
  margin-left:10%;
}
.margin-left-5{
  margin-left:5%;
}
.padding-5{
  padding:5%;
}
.margin-top-5{
  margin-top:5%;
}
.margin-top-10{
  margin-top:10%;
}
.border-e6-2px{
  border:2px solid #e6e6e6;
}
.width-75{
  width:75%;
}
.white-background{
  background:white;
}
.border-black-2px{
  border:2px solid black;
}
.width-100{
  width:100%;

}

.float-left{
  float:left;
}
.margin-left-5{
  margin-left: 5%;
}
.color-green{
  color:green;
}
.no-background{
  background:none;
}

.background-black{
  background:black;
}
.black-background{
  background:black;
}
.no-width{
  width:0px;
}
.relative{
  position:relative;
}
.transition-all{
  transition: all;
}
